@model MVC5Employee.Models.Employee
@{
    ViewBag.Title = "Employee Confirmation";
}

<h2>Employee Confirmation</h2>
<p>You have added the following information to the new employee database:</p>
<p>ID: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Salary: $@Model.Salary</p>